.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: var(--vaadin-gap-l);
  overflow: hidden;
  padding-bottom: var(--vaadin-padding-l);
  padding-inline: var(--vaadin-padding-l);
}

.dashboard-stat-cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--vaadin-gap-l);
}

.dashboard-stat-card {
  flex-grow: 1;
  --vaadin-card-title-color: var(--vaadin-text-color-secondary);
}

.dashboard-stat-value {
  font-weight: 600;
  font-size: var(--aura-font-size-xl);
  line-height: var(--aura-line-height-xl);
}

.dashboard-stat-trend {
  margin-inline-start: var(--vaadin-padding-s);
}

.dashboard-orders-card {
  min-height: 0;
}

.dashboard-orders-heading {
  font-size: var(--aura-font-size-xl);
  line-height: var(--aura-line-height-xl);
}
