.dashboard-view {
  .content {
    display: flex;
    flex-direction: column;
    gap: var(--vaadin-gap-l);
    overflow: hidden;
    padding-bottom: var(--vaadin-padding-l);
    padding-inline: var(--vaadin-padding-l);
  }

  .stat-cards {
    display: flex;
    flex-wrap: wrap;
    gap: var(--vaadin-gap-l);
  }

  .stat-card {
    flex-grow: 1;
    --vaadin-card-title-color: var(--vaadin-text-color-secondary);
  }

  .stat-value {
    font-weight: 600;
    font-size: var(--aura-font-size-xl);
    line-height: var(--aura-line-height-xl);
  }

  .stat-trend {
    margin-inline-start: var(--vaadin-padding-s);
  }

  .orders-card {
    min-height: 0;
  }

  .orders-heading {
    font-size: var(--aura-font-size-xl);
    line-height: var(--aura-line-height-xl);
  }
}
