.settings-view {
  .tabs {
    width: fit-content;
  }

  .panel {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: var(--vaadin-gap-l);
    padding-inline: var(--vaadin-padding-xs);
    padding-block: var(--vaadin-padding-l);
  }

  .security-panel {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-inline: var(--vaadin-padding-xs);
    padding-block: var(--vaadin-padding-l);
  }

  .section-button {
    margin-top: var(--vaadin-padding-l);
  }

  .section-divider {
    margin-block: var(--vaadin-padding-l);
  }

  .two-factor-heading {
    font-size: var(--aura-font-size-l);
    line-height: var(--aura-line-height-l);
  }

  .two-factor-description {
    color: var(--vaadin-text-color-secondary);
    font-size: var(--aura-font-size-s);
    line-height: var(--aura-line-height-s);
    margin: 0;
  }

  .integrations-grid {
    display: grid;
    gap: var(--vaadin-gap-s);
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-inline: var(--vaadin-padding-xs);
    padding-block: var(--vaadin-padding-l);
  }

  .integration-name {
    font-weight: 600;
  }

  .integration-description {
    color: var(--vaadin-text-color-secondary);
    font-size: var(--aura-font-size-s);
    line-height: var(--aura-line-height-s);
  }

  .integration-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  .integration-row {
    display: flex;
    gap: var(--vaadin-gap-s);
  }
}
