.settings-view .settings-tabs {
  width: fit-content;
}

.settings-view .settings-panel {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--vaadin-gap-l);
  padding-inline: var(--vaadin-padding-xs);
  padding-block: var(--vaadin-padding-l);
}

.settings-view .settings-security-panel {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-inline: var(--vaadin-padding-xs);
  padding-block: var(--vaadin-padding-l);
}

.settings-view .settings-section-button {
  margin-top: var(--vaadin-padding-l);
}

.settings-view .settings-section-divider {
  margin-block: var(--vaadin-padding-l);
}

.settings-view .settings-2fa-heading {
  font-size: var(--aura-font-size-l);
  line-height: var(--aura-line-height-l);
}

.settings-view .settings-2fa-description {
  color: var(--vaadin-text-color-secondary);
  font-size: var(--aura-font-size-s);
  line-height: var(--aura-line-height-s);
  margin: 0;
}

.settings-view .settings-integrations-grid {
  display: grid;
  gap: var(--vaadin-gap-s);
  grid-template-columns: repeat(auto-fit, minmax(var(--container-xs), 1fr));
  padding-inline: var(--vaadin-padding-xs);
  padding-block: var(--vaadin-padding-l);
}

.settings-view .integration-name {
  font-weight: 600;
}

.settings-view .integration-description {
  color: var(--vaadin-text-color-secondary);
  font-size: var(--aura-font-size-s);
  line-height: var(--aura-line-height-s);
}

.settings-view .integration-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.settings-view .integration-row {
  display: flex;
  gap: var(--vaadin-gap-s);
}
