.users-view {
  overflow: hidden;

  .user-name-cell {
    align-items: center;
    display: flex;
    font-weight: 500;
    gap: var(--vaadin-gap-s);
  }

  .user-dialog-content {
    display: flex;
    flex-direction: column;
    gap: var(--vaadin-gap-l);
  }

  .user-last-login {
    color: var(--vaadin-text-color-secondary);
    font-size: var(--aura-font-size-xs);
    line-height: var(--aura-line-height-xs);
  }

  .user-dialog-email {
    color: var(--vaadin-text-color-secondary);
    font-size: var(--aura-font-size-s);
    line-height: var(--aura-line-height-s);
  }

  .user-dialog-info {
    display: flex;
    flex-direction: column;
  }

  .user-dialog-avatar-row {
    align-items: center;
    border-bottom: 1px solid var(--vaadin-border-color-secondary);
    display: flex;
    gap: var(--vaadin-gap-m);
    padding-bottom: var(--vaadin-padding-l);
    width: 100%;
  }
}
